<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена | 404</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <h2>Oops! Page not found.</h2>
        <p>It looks like this page no longer exists, or there was a typo. Return to the main page, there's lots of useful information there!</p>
        <a href="/" class="btn">Home</a>
    </div>
</body>
</html>