<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= typeof title !== 'undefined' ? title : 'WNL project' %></title>
    
    <link rel="icon" type="image/x-icon" href="/images/WNLproject.ico">
    <link rel="stylesheet" href="/css/navbar.css">
    
    <% if (typeof pageStyles !== 'undefined') { %>
        <% pageStyles.forEach(function(style) { %>
            <link rel="stylesheet" href="<%= style %>">
        <% }); %>
    <% } %>
</head>